* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background:rgba(47, 129, 196, 0.596);
  padding: 25px;
}

header {
  text-align: center;
  margin-bottom: 55px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Product Card Styling */
.product-card {
  background: beige;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 2px 6px black;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px white;
}

.product-card img {
  width: 100%;
  border-radius: 18px;
}

button {
  background:goldenrod;
  color: bisque;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: hsl(153, 53%, 33%);
}

/* 📱 Responsive Breakpoints */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}